.cta {
  background-color: $blue;
  margin-top: 80px;
  text-align: center;
  color: $white;
  padding: 76px 0 64px 0;

  .content-wrapper {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 992px) {
      flex-wrap: wrap;
    }
  }

  .heading {
    width: 67%;

    @media only screen and (max-width: 992px) {
      width: 100%;
      margin-bottom: 40px;
    }

    h5 {
      &:before {
        background-color: $white;
      }
    }
  }

  .arrow-btn {
    margin-right: 39px;
    margin-top: -11px;
  }
}