.map {
  text-align: center;
  margin-top: 44px;

  &--iframe {
    display: block;
    height: 620px;
    border:1px solid $blue;
    width: 100%;
    margin-top: 37px;
  }

  .heading {
    margin-bottom: 18px;
  }

  .arrow-link {
    margin-top: 22px;
  }
}