.breadcrumb {
  background-color: $white;
  padding: 18px 80px 20px;

  &-item {
    font-size: 13px;
    color: $gray;

    & + .breadcrumb-item {
      padding-left: 15px;
      padding-right: 10px;
    }

    a {
      color: $font-black;
      transition: color .3s;

      &:hover {
        color: $light-blue;
        text-decoration: none;
      }
    }
  }
}